@import './global.scss';
.access {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  h1 {
    font-size: 22px;
    font-weight: 100;
    color: $gray-color;
  }
  p {
    font-size: 15px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.7);
    &.white {
      color: #fff;
    }
  }
  .input-numbers {
    margin-bottom: 3em;
    .input {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3em;
      input {
        width: 80px;
        background: transparent;
        margin-right: 10px;
        color: $gray-color;
        border: 0;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        font-size: 40px;
        font-weight: 100;
        transition: all 0.3s;
        &:not(:placeholder-shown),
        &:hover {
          border-bottom: 1px solid $gray-color;
          transition: all 0.3s;
        }
        &:active,
        &:focus {
          outline: none;
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
