//Colors
$black-color: #000;
$gray-color: #eeeeee;
$red-color: #ff1765;
$purple-color: #640053;

// Opacities
$gray-opacity-color: rgba(226, 232, 240, 0.9);

//Fonts
$lato-font: 'Lato', sans-serif;
$lora-font: 'Lora', serif;

body {
  background: $black-color;
}
h1,
h2,
h3,
h4,
h5 {
  color: $gray-color;
}
p {
  color: $gray-color;
  margin-bottom: 1.5em;
}
ul {
  color: $gray-color;
}

.big-container {
  width: 1000px;
  margin: auto;
}
.container {
  width: 648px;
  margin: auto;
}
.priv-btn {
  background: linear-gradient(209deg, $red-color 0%, $purple-color 100%);
  color: #fff;
  font-weight: 100;
  box-shadow: none !important;
  border: 0 !important;
  transition: all 0.3s;
  &:hover {
    background: linear-gradient(209deg, $red-color 0%, $purple-color 100%);
    color: #fff;
    font-weight: 100;
    transform: scale(0.97);
    transition: all 0.3s;
  }
  &:active,
  &:focus {
    background: linear-gradient(209deg, $red-color 0%, $purple-color 100%);
    color: #fff;
    font-weight: 100;
    transform: scale(0.95);
  }
}
.ant-input {
  background: rgba(255, 255, 255, 0.3) !important;
  color: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 32px;
}
.ant-form-item-has-error {
  .ant-form-item-explain {
    color: $red-color !important;
  }
}

@media only screen and (max-width: 768px) {
  .input-numbers {
    .input {
      input {
        width: 45px !important;
      }
    }
  }
  .spaced {
    margin: 0 1em;
  }
  .big-container {
    width: 100%;
    margin: auto;
  }
  .container {
    width: 100%;
    margin: auto;
  }
}
