header {
  padding: 20px;
  position: absolute;
  .big-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    width: 94px;
    height: 35px;
  }
}
